@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@600;700&display=swap');


:root {
  --primary-font: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  --primary-color: #FA4A0C;
  --text-color: #737373;
  --dark-color: #252B42;
  --light-color: #ffffff;

}